
services:
  # =======================
  # Datenbanken
  # =======================
  auth_db:
    image: warjag/warjag_multi_layer_db-auth_db:v0.1
    platform: linux/amd64
    environment:
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: ${AUTH_DB_PASS}
      POSTGRES_DB: auth_db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U auth_user -d auth_db || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 5s
    volumes:
      - auth_db_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - traefik_net

  admin_db:
    image: warjag/warjag_multi_layer_db-admin_db:v0.1
    platform: linux/amd64
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin_user
      POSTGRES_PASSWORD: ${ADMIN_DB_PASS}
      POSTGRES_DB: admin_db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin_user -d admin_db || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 5s
    volumes:
      - admin_db_data:/var/lib/postgresql/data
    ports:
      - "5440:5432"
    networks:
      - traefik_net

  customer_db:
    image: warjag/warjag_multi_layer_db-customer_db:v0.1
    platform: linux/amd64
    restart: unless-stopped
    environment:
      POSTGRES_USER: customer_user
      POSTGRES_PASSWORD: ${CUSTOMER_DB_PASS}
      POSTGRES_DB: customer_db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U customer_user -d customer_db || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 5s
    volumes:
      - customer_db_data:/var/lib/postgresql/data
    ports:
      - "5434:5432"
    networks:
      - traefik_net

  portal_users_db:
    image: warjag/warjag_multi_layer_db-portal_users_db:v0.1
    platform: linux/amd64
    restart: unless-stopped
    environment:
      POSTGRES_USER: portal_user
      POSTGRES_PASSWORD: ${PORTAL_USERS_DB_PASS}
      POSTGRES_DB: portal_users_db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U portal_user -d portal_users_db || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 5s
    volumes:
      - portal_users_db_data:/var/lib/postgresql/data
    ports:
      - "5439:5432"
    networks:
      - traefik_net

  business_db1:
    image: warjag/warjag_multi_layer_db-business_db1:v0.1
    platform: linux/amd64
    restart: unless-stopped
    environment:
      POSTGRES_USER: biz1_user
      POSTGRES_PASSWORD: ${BUSINESS_DB1_PASS}
      POSTGRES_DB: business_db1
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U biz1_user -d business_db1 || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 5s
    volumes:
      - business_db1_data:/var/lib/postgresql/data
    ports:
      - "5436:5432"
    networks:
      - traefik_net

  business_db2:
    image: warjag/warjag_multi_layer_db-business_db2:v0.1
    platform: linux/amd64
    restart: unless-stopped
    environment:
      POSTGRES_USER: biz2_user
      POSTGRES_PASSWORD: ${BUSINESS_DB2_PASS}
      POSTGRES_DB: business_db2
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U biz2_user -d business_db2 || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 5s
    volumes:
      - business_db2_data:/var/lib/postgresql/data
    ports:
      - "5437:5432"
    networks:
      - traefik_net

  business_db3:
    image: warjag/warjag_multi_layer_db-business_db3:v0.1
    platform: linux/amd64
    restart: unless-stopped
    environment:
      POSTGRES_USER: biz3_user
      POSTGRES_PASSWORD: ${BUSINESS_DB3_PASS}
      POSTGRES_DB: business_db3
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U biz3_user -d business_db3 || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 5s
    volumes:
      - business_db3_data:/var/lib/postgresql/data
    ports:
      - "5438:5432"
    networks:
      - traefik_net

  pgadmin:
    image: dpage/pgadmin4:latest
    platform: linux/amd64
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASS}
    ports:
      - "9090:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - traefik_net

  # =======================
  # Gateway (Traefik)
  # =======================
  traefik:
    image: traefik:v3.0
    platform: linux/amd64
    command:
      - "--api.dashboard=true"
      - "--api.insecure=true"              # nur Dev
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=traefik_net"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"   # Traefik Dashboard
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - traefik_net

  # =======================
  # APIs (intern je 8000)
  # =======================
  auth_api:
    image: warjag/warjag_multi_layer_db-auth_api:v0.1
    platform: linux/amd64
    container_name: auth_api
    restart: unless-stopped
    env_file:
      - ./auth_api/.env
    environment:
      PORTAL_API_URL: "http://portal_api:8000/portal"
      TZ: Europe/Berlin
    depends_on:
      auth_db:
        condition: service_healthy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.auth.rule=PathPrefix(`/auth`)"
      - "traefik.http.routers.auth.entrypoints=web"
      - "traefik.http.middlewares.auth-strip.stripprefix.prefixes=/auth"
      - "traefik.http.middlewares.auth-strip.stripprefix.forceSlash=true"
      - "traefik.http.routers.auth.middlewares=auth-strip"
      - "traefik.http.services.auth.loadbalancer.server.port=8000"
    networks:
      - traefik_net

  customer_api:
    image: warjag/warjag_multi_layer_db-customer_api:v0.1
    platform: linux/amd64
    container_name: customer_api
    restart: unless-stopped
    env_file:
      - ./customer_api/.env
    depends_on:
      customer_db:
        condition: service_healthy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.customer.rule=PathPrefix(`/customer`)"
      - "traefik.http.routers.customer.entrypoints=web"
      - "traefik.http.middlewares.customer-strip.stripprefix.prefixes=/customer"
      - "traefik.http.middlewares.customer-strip.stripprefix.forceSlash=true"
      - "traefik.http.routers.customer.middlewares=customer-strip"
      - "traefik.http.services.customer.loadbalancer.server.port=8001"
    networks:
      - traefik_net

  portal_api:
    image: warjag/warjag_multi_layer_db-portal_api:v0.1
    platform: linux/amd64
    container_name: portal_api
    restart: unless-stopped
    env_file:
      - ./portal_api/.env
    environment:
      TZ: Europe/Berlin
    depends_on:
      portal_users_db:
        condition: service_healthy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.portal.rule=PathPrefix(`/portal`)"
      - "traefik.http.routers.portal.entrypoints=web"
      - "traefik.http.middlewares.portal-strip.stripprefix.prefixes=/portal"
      - "traefik.http.middlewares.portal-strip.stripprefix.forceSlash=true"
      - "traefik.http.routers.portal.middlewares=portal-strip"
      - "traefik.http.services.portal.loadbalancer.server.port=8000"
    networks:
      - traefik_net

  business_api:
    image: warjag/warjag_multi_layer_db-business_api:v0.1
    platform: linux/amd64
    container_name: business_api
    restart: unless-stopped
    env_file:
      - ./business_api/.env
    environment:
      BUSINESS_DB1_URL: postgresql://biz1_user:${BUSINESS_DB1_PASS}@business_db1:5432/business_db1
      BUSINESS_DB2_URL: postgresql://biz2_user:${BUSINESS_DB2_PASS}@business_db2:5432/business_db2
      BUSINESS_DB3_URL: postgresql://biz3_user:${BUSINESS_DB3_PASS}@business_db3:5432/business_db3
      UVICORN_HOST: 0.0.0.0
      UVICORN_PORT: 8000
    depends_on:
      business_db1:
        condition: service_healthy
      business_db2:
        condition: service_healthy
      business_db3:
        condition: service_healthy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.business.rule=PathPrefix(`/business`)"
      - "traefik.http.routers.business.entrypoints=web"
      - "traefik.http.middlewares.business-strip.stripprefix.prefixes=/business"
      - "traefik.http.middlewares.business-strip.stripprefix.forceSlash=true"
      - "traefik.http.routers.business.middlewares=business-strip"
      - "traefik.http.services.business.loadbalancer.server.port=8000"
    networks:
      - traefik_net

  admin_api:
    image: warjag/warjag_multi_layer_db-admin_api:v0.1
    platform: linux/amd64
    container_name: admin_api
    restart: unless-stopped
    env_file:
      - ./admin_api/.env
    depends_on:
      admin_db:
        condition: service_healthy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.admin.rule=PathPrefix(`/admin`)"
      - "traefik.http.routers.admin.entrypoints=web"
      - "traefik.http.middlewares.admin-strip.stripprefix.prefixes=/admin"
      - "traefik.http.middlewares.admin-strip.stripprefix.forceSlash=true"
      - "traefik.http.routers.admin.middlewares=admin-strip"
      - "traefik.http.services.admin.loadbalancer.server.port=8004"
    networks:
      - traefik_net

# =======================
# Volumes
# =======================
volumes:
  auth_db_data:
  admin_db_data:
  customer_db_data:
  portal_users_db_data:
  business_db1_data:
  business_db2_data:
  business_db3_data:
  pgadmin_data:

# =======================
# Networks
# =======================
networks:
  traefik_net:
    name: traefik_net