:root{
  /* Farben */
  --c-bg: #f7f7f9;
  --c-surface: #ffffff;
  --c-border: #e6e8ec;
  --c-text: #14171a;
  --c-muted: #5f6368;

  --c-primary: #2b74ff;
  --c-primary-contrast: #ffffff;

  --c-danger: #b3261e;
  --c-danger-bg: #fde7e9;

  --c-ok: #137333;        --c-ok-bg:#e6f4ea;
  --c-warn: #8d6e00;      --c-warn-bg:#fff7d6;
  --c-info: #1967d2;      --c-info-bg:#e8f0fe;

  /* Spacing / Radius / Shadow / Font */
  --sp-1: .25rem; --sp-2: .5rem; --sp-3: .75rem; --sp-4: 1rem; --sp-6: 1.5rem;
  --radius: .6rem;
  --shadow-1: 0 1px 4px rgba(0,0,0,.06);
  --font: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}


/* === Sidebar Farben === */
:root {
  --c-sidebar-bg: #1c1f26;
  --c-sidebar-text: #ffffff;
  --c-sidebar-active-bg: #2b74ff22;
  --c-sidebar-active-text: #2b74ff;
  --c-sidebar-border: #2a2d33;
  --c-sidebar-icon: #9ca3af;
}



/* Dark Mode für die coolen kids, denke das sollten wir machen */
@media (prefers-color-scheme: dark) {
  :root {
    --c-bg: #dce1e8;
    --c-surface: #efefef;
    --c-border: #222a35;
    --c-text: #091113;
    --c-muted: #010203;
    --shadow-1: 0 1px 4px rgba(0, 0, 0, .4);
  }
}
